.side-bar
  .side-bar__header
    .side-bar__header__user-name
      = current_user.name
    .side-bar__header__icons
      = link_to new_group_path, class: "side-bar__header__icon-configuration" do
        = icon('fas', 'edit',  class: "side-bar__header__icon")
      = link_to edit_user_path(current_user), class: "side-bar__header__icon-create" do
        = icon('fas', 'cog',  class: "side-bar__header__icon")

  .side-bar__group-list
    - current_user.groups.each do |group|
      .side-bar__group-list__group
        = link_to group_messages_path(group),class:"link" do
          .side-bar__group-list__group__group-name
            = group.name
          .side-bar__group-list__group__commets
            = group.show_last_message